@model Vcall.Models.Vcall_Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vcall_Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Id_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Id_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_PID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_MI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_MI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Q10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Q10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dt_Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dt_Complete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
